.page-busca_noticias{
    #listagemCategorias{
        ul{
            line-height: 5;
            li{
                font-size: 1.4rem;
            }
        }
    }

    .page-content {
    
        .noticias {
            li{
                float: none;
                padding: 0;
                margin: 10px 0;
                border: none;
                height: 95px;
                background: #f9f9f9;
                
                #noticia_imagem {
                    float: left;
                    width: 95px;
                    height: 95px;
                    text-align: center;
                    margin: 0 5px;
                    padding: 0;
                }
                
                #noticia_dados {
                    overflow: hidden;
                    padding: 15px;

                    h3{
                        color: #666;
                    }

                    p{
                        line-height: 3;
                        font-size: 1.2rem;
                    }
                }
            }
        } 
    }

   
}

.page-noticia{

    @media screen and (max-width:$sm) {
        .imagemNoticia{
            float: none;
            padding: 0;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
    
    .dataNoticia{
        line-height: 4;
        font-size: 1.4rem;
     }

     h2{
        line-height: 4;
        text-align: center;
     }

    #ProdBlock{
        margin: 15px 0;

        li.aberta{
            text-align: center;
            text-transform: uppercase;
            margin: 5%;

            a{
                font-weight: 600;
            }
        }
    }     

    #listaNoticiaProdutos{
        li{
            background: #f7f7f7;
            border: none;
            width: 49%;
            display: inline-table;
            margin: 4px;

            @media screen and (max-width:$md) {
                width: 100%;
            }

            #produto_comprar{
                color: #666;
                padding: 5%;

                a{
                    text-decoration: none;
                    img{
                        width: 0;
                        height: 0;
                    }

                    &::after{
                        content: "Comprar";
                        background: #332769;
                        padding: 3%;
                        color: #fff;
                        display: inline-flex;
                        margin: 5%;
                        font-size: 1.5rem;
                    }
                }
            }
           
        }
    }
}